<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a routerLink="/">Your playlist</a>
      </div>
      <nav *ngIf="!(user | async) else userMenu">
        <a mat-button routerLink="/register">REGISTER</a>
        <a mat-button routerLink="/login">SIGN IN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item disabled> {{ (user | async)?.displayName  }} </button>
      <button mat-menu-item (click)="logout()">Logout</button>
      <a mat-button routerLink="/trackHistory">Track History</a>
    </mat-menu>
  </nav>
</ng-template>
