<div fxLayout="row" fxLayoutAlign="space-between flex-start">
</div>
<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>
<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let album of albums | async"
  >
    <mat-card>
      <mat-card-title>{{ album.title }}</mat-card-title>
      <img
        [src]="album.image | image"
        [alt]="'Photo of ' + album.title"
        mat-card-image
      />
    </mat-card>
  </div>
</div>


