<div fxLayout="row" fxLayoutAlign="space-between flex-start">
</div>
<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let artist of artists | async"
    >
      <mat-card>
        <mat-card-title>{{ artist.title }}</mat-card-title>
        <img
          [src]="artist.image | image"
          [alt]="'Photo of ' + artist.title"
          mat-card-image
        />
        <mat-card-actions>
          <a
            [routerLink]="[artist.id]"
            mat-button
          >see albums</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


