<div fxLayout="row" fxLayoutAlign="space-between flex-start">
</div>
<mat-label><b> Songs from the album</b></mat-label>
<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>
<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <mat-card
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let track of trackHistory | async"
  >
    <div *ngFor="let oneItem of track| keyvalue">
      <div *ngFor="let one of oneItem.value | keyvalue let i = index " >
        <div *ngIf="i === 1 ">
          {{one.value}}
        </div>
      </div>
    </div>
    <div>{{ track.dateTime}}</div>
  </mat-card>

</div>


